In [2]:
import zoo

zoo.hours()

Open 9-5 daily

In [3]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [ ]:
from sqlalchemy import select

with engine.connect() as conn:
    stmt = select(book.c.title).order_by(book.c.title)

    result = conn.execute(stmt)
    for row in result:
        print(row.title)